.contact {
  width: 100%;
}

.container {
  color: white;
  width: 100%;
}

.row{
  padding-top: 50px;
  width: 100%;
  min-height: 100vh;
  display: block;
}

h1 {
  color: #e74c3c;
  margin-bottom: 50px;
  font-size: 30px;
}

span {
  display: block;
  margin-left: 10%;
  margin-bottom: 10px;
}

span i {
  color: #e74c3c ;
  margin-right: 20px;
}

section {
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
}

iframe {
  width: 100%;
}

