<div class="contact">
  <div class="container">
    <div class="row">

      <!-- Page Title -->
      <h1 class="text-center">{{'{ CONTACT '}}<i class="fas fa-envelope"></i>{{' } ;'}}</h1>

      <!-- Phone -->
      <span>
         <i class="fas fa-phone"></i>
          07 86 11 99 61
      </span>
      <!-- Email -->
      <span>
         <i class="fas fa-envelope-open"></i>
        julien.grandchavin@icloud.com
      </span>

      <!-- Map -->
      <section>
        <iframe height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAko2zIFQAsY0NpcJM9XynpFXSeDXInzyk&q=Lyon7" allowfullscreen ></iframe>
      </section>

    </div>
  </div>
</div>
