.lab {
  width: 100%;
}

.container {
  color: white;
  width: 100%;
  min-height: 100vh;
}

.row{
  margin-top: 50px;
  width: 100%;
  display: block;
}

h1 {
  color: #e74c3c;
  margin-bottom: 50px;
  font-size: 30px;
}
h2 {
  font-weight: 300;
  font-size: 20px;
  margin-top: 30px;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 50px;
  border-bottom: 2px solid #e74c3c;
  border-top: 2px solid #e74c3c;
}

img {
  width: 70%;
}

.techno {
  display: block;
  font-size: 40px;
  margin: 30px auto;

}

.techno i {
  margin-right: 20px;
  margin-left: 20px;
}

.techno span {
  font-size: 17px;
  font-weight: lighter;
}

section a {
  text-decoration: none;
  color: #e74c3c;
}

.icon {
  display: inline-block;
  width: 200px;
  margin-bottom: 0px;
}

h3 {
  font-size: 15px;
  font-weight: 300;
  margin-top: 5px;
}

