<div class="lab">
  <div class="container">
    <div class="row">

      <!-- Page Title -->
      <h1 class="text-center">{{'{ LAB '}}<i class="fas fa-flask"></i>{{' } ;'}}</h1>

      <!-- My personal Website -->
      <section class="text-center">
        <!-- Image -->
        <img src="../../../assets/personal-website.png" alt="" class="mx-auto d-block">
        <!-- Title -->
        <h2 class="text-center">Mon site web personel</h2>
        <!-- Techno Part -->
        <div class="techno text-center">

          <div class="icon text-center">
            <i class="fab fa-angular" style="color: #ee5253"></i>
            <h3>Angular 5</h3>
          </div>

          <div class="icon text-center">
            <i class="fab fa-gitlab" style="color: #ff9f43"></i>
            <h3>GitLab + GitLab CD/CI</h3>
          </div>

          <div class="icon text-center">
            <i class="fab fa-digital-ocean" style="color: #0abde3"></i>
            <h3>Hébergé sur DigitalOcean</h3>
          </div>

        </div>
        <!-- Link -->
        <a href="https://juliengrandchavin.io" target="_blank">juliengrandchavin.io</a>
      </section>

    </div>
  </div>
</div>
