<div class="home">
  <div class="content container">
    <div class="row">

      <!-- Portrait Image-->
      <img src="../../../assets/portrait.png" alt="">

      <!-- Main Title-->
      <div class="title">
        <label>{{' sayHello() { '}}</label> <br>
        &nbsp;&nbsp;<label>return {{'\('}}</label><br>
        &nbsp;&nbsp;&nbsp;&nbsp; {{'\''}}Hello! <br>
        &nbsp;&nbsp;&nbsp;&nbsp; Je suis <span>Julien Grand-Chavin</span> <br>
        &nbsp;&nbsp;&nbsp;&nbsp; Développeur Web & Mobile{{'\''}}
        <br>
        &nbsp;&nbsp;<label>{{'\)'}}</label> <br>
        <label>{{' } ;'}}</label>
      </div>

    </div>
  </div>
</div>

