.title {
  color: white;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 20px;
  margin-left: 10%;
  margin-right: auto;
  display: block;
  padding-top: 10vh;
}

.home {
  min-height: 100vh;
  width: 100%;
  display: block;

}

.row {
  height: 100%;
  width: 100%;
  display: block;
}

span {
  color: #e74c3c;
  width: 20%;
}

img {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15vh;

}

label {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
  opacity: .4;
  color: #e74c3c;
}

@media (min-width: 768px) {

  img {
    width: 50%;
  }

  .title {
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  img {
    position: absolute;
    top: 20vh;
    width: 20%;
  }

  .title {
    position: absolute;
    top: 20vh;
    right: 15%;
    font-size: 35px;
  }
}

