<div class="about-me">
  <div class="container">
    <div class="row">

      <!-- Page Title -->
      <h1 class="text-center">{{'{ A PROPOS DE MOI '}}<i class="fas fa-child"></i>{{' } ;'}}</h1>

      <!-- Presentation Section -->
      <section>
        <h2><i class="fas fa-align-left" style="margin-right: 10px"></i>Présentation</h2>
        <p>
          Je m'appelle Julien Grand-Chavin, j'ai 22 ans. <br>
          Anciennement sportif de haut-niveau en saut à ski, j'ai ensuite raccroché les skis pour me consacrer à mes études.
          <br>
          J'ai effectué 2 années de Licence à l'Université Grenoble Alpes pour ensuite intégrer Ynov Ingésup à Lyon où je suis cette année en alternance.
          <br>
          Passionné de développement web & mobile, j'ai décidé de faire ce site pour me présenter moi et mon travail.
        </p>
      </section>

      <!-- Info Sections-->
      <section>
        <h2><i class="fas fa-address-card" style="margin-right: 10px"></i>Informations</h2>
        <label>Naissance:</label> <p>20 Mars 1996 (Le Sentier, Suisse) </p>
        <label>Nationalité:</label> <p>Franco-Suisse</p>
      </section>

      <!-- Hobbies Section-->
      <section class="hobbies">
        <h2><i class="fas fa-basketball-ball" style="margin-right: 10px"></i>Passions</h2>
          <div class="icon text-center">
            <img src="../../../assets/ski-jumping-logo.png" alt="" style="width: 100px">
            <h3>Saut à Ski</h3>
          </div>
          <div class="icon text-center">
            <img src="../../../assets/icons8-f1_race_car_top_veiw_filled.png" alt="" style="width: 100px">
            <h3>SimRacing</h3>
          </div>
      </section>

    </div>
  </div>
</div>
