.about-me {
  width: 100%;
}

.container {
  color: white;
  width: 100%;
}

.row{
  padding-top: 50px;
  width: 100%;
  min-height: 100vh;
  display: block;
}

h1 {
  color: #e74c3c;
  margin-bottom: 50px;
  font-size: 30px;
}

h2 {
  font-size: 25px;
  margin-bottom: 30px;
}

p {
  font-weight: lighter;
}

section {
  padding-bottom: 40px;
}

.icon h3 {
  font-size: 20px;
  font-weight: lighter;
}

.icon {
  display: inline-block;
  width: 200px;
  margin-bottom: 0px;
}

.hobbies {
  display: block;
  margin: 0 auto;
}

label {
  color: #e74c3c;
}
