<div class="container-fluid">
  <div>
    <!-- Side Bar -->
    <div class="side-bar" >

      <!-- Top Logo -->
      <img routerLink="/" src="../assets/logo.png" alt="" class="logo mx-auto d-block">

      <!-- Nav Menu -->
      <div class="sidebar-nav text-center">

        <!-- Home Logo-->
        <a routerLink="/" (mouseenter)="homeLogo = false" (mouseleave)="homeLogo = true">
          <i class="fas fa-home" *ngIf="homeLogo" [ngClass]="{'sidebar-nav-current' : location.path() === '/home'}"></i>
          <span *ngIf="!homeLogo">Home</span>
        </a>
        <!-- About Me Logo-->
        <a routerLink="/about-me" (mouseenter)="aboutMeLogo = false" (mouseleave)="aboutMeLogo = true">
          <i class="fas fa-child" *ngIf="aboutMeLogo" [ngClass]="{'sidebar-nav-current' : location.path() === '/about-me'}"></i>
          <span *ngIf="!aboutMeLogo">A Propos</span>
        </a>
        <!-- Skills Logo-->
        <a routerLink="/skills" (mouseenter)="skillsLogo = false" (mouseleave)="skillsLogo = true">
          <i class="fas fa-user-astronaut" *ngIf="skillsLogo" [ngClass]="{'sidebar-nav-current' : location.path() === '/skills'}"></i>
          <span *ngIf="!skillsLogo">Skills</span>
        </a>
        <!-- Lab Logo-->
        <a routerLink="/lab" (mouseenter)="labLogo = false" (mouseleave)="labLogo = true">
          <i class="fas fa-flask" *ngIf="labLogo" [ngClass]="{'sidebar-nav-current' : location.path() === '/lab'}"></i>
          <span *ngIf="!labLogo">Lab</span>
        </a>
        <!-- Contact Logo-->
        <a routerLink="/contact" (mouseenter)="contactLogo = false" (mouseleave)="contactLogo = true">
          <i class="fas fa-envelope" *ngIf="contactLogo" [ngClass]="{'sidebar-nav-current' : location.path() === '/contact'}"></i>
          <span *ngIf="!contactLogo">Contact</span>
        </a>
      </div>

      <!-- Get In Touch -->
      <div class="get-in-touch text-center">
        <!-- Twitter Logo-->
        <a href="https://twitter.com/jgrandchavin" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <!-- Linkedin Logo-->
        <a href="https://www.linkedin.com/in/juliengrandchavin" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <!-- GitLab Logo-->
        <a href="https://gitlab.com/jgrandchavin" target="_blank">
          <i class="fab fa-gitlab"></i>
        </a>
      </div>

    </div>

    <!-- Body -->
    <div class="body row" [@routerAnimation]="getRouteAnimation(route)">
      <!-- Router-->
      <router-outlet #route="outlet"></router-outlet>
    </div>

  </div>
</div>

