.side-bar {
  height: 100%;
  width: 75px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #e74c3c;
  overflow-x: hidden;
  opacity: .95;
}

.get-in-touch {
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 5%;
}

.get-in-touch a {
  text-decoration: none;
  color: white;
  display: block;
  font-size: 13px;
  margin-bottom: 15px;
  bottom: 0;
}

.sidebar-nav a {
  text-decoration: none;
  color: #1d1d1d;
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
}

.sidebar-nav-current {
  color: white; font-size: 30px
}

.sidebar-nav a span {
  font-size: 15px;
}

.sidebar-nav {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 35%;
}

.body {
  margin-left: 75px;
  width: auto;
}

.logo {
  height: 5%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 3%;
}
