<div class="skills">
  <div class="container">
    <div class="row">

      <!-- Page Title -->
      <h1 class="text-center">{{ '{ SKILLS'}} <i class="fas fa-user-astronaut" style="font-size: 30px"></i>{{' } ;'}}</h1>

      <!-- Frontend Section -->
      <section class="front-end">
        <!-- Title -->
        <h2><i class="fas fa-desktop" style="font-size: 20px; margin-right: 10px"></i> Frontend</h2>

        <div class="icon text-center">
          <i class="fab fa-html5 text-center" style="color: #feca57"></i>
          <h3>HTML</h3>
          <div class="progress">
            <div class="progress-bar w-75 bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="color: black;"></div>
          </div>
        </div>

        <div class="icon text-center">
          <i class="fab fa-css3-alt" style="color: #2e86de"></i>
          <h3>CSS</h3>
          <div class="progress">
            <div class="progress-bar w-75 bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="color: black;"></div>
          </div>
        </div>

        <div class="icon text-center">
          <i class="fab fa-js" style="color: #feca57"></i>
          <h3>Javascript</h3>
          <div class="progress">
            <div class="progress-bar w-75 bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="color: black;"></div>
          </div>
        </div>

        <div class="icon text-center">
          <i class="fab fa-angular" style="color: #ee5253"></i>
          <h3>Angular</h3>
          <div class="progress">
            <div class="progress-bar w-75 bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="color: black;"></div>
          </div>
        </div>

        <div class="icon text-center">
          <img src="../../../assets/bootstrap-logo.png" alt="" style="width: 50px">
          <h3>Bootstrap</h3>
          <div class="progress">
            <div class="progress-bar w-75 bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="color: black;"></div>
          </div>
        </div>

      </section>

      <!-- Backend Section -->
      <section class="back-end">
        <!-- Title -->
        <h2><i class="fas fa-cogs" style="font-size: 20px; margin-right: 10px"></i> Backend</h2>

        <div class="icon text-center">
          <i class="fab fa-node-js" style="color: #1dd1a1"></i>
          <h3>NodeJS</h3>
          <div class="progress">
            <div class="progress-bar w-50 bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="color: black;"></div>
          </div>
        </div>

        <div class="icon text-center">
          <i class="fab fa-java" style="color: #ee5253"></i>
          <h3>Java</h3>
          <div class="progress">
            <div class="progress-bar w-50 bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="color: black;"></div>
          </div>
        </div>

      </section>

      <!-- Mobile Section-->
      <section class="mobile">
        <!-- Title -->
        <h2><i class="fas fa-mobile" style="font-size: 20px; margin-right: 10px"></i> Mobile</h2>

        <div class="icon text-center">
          <i class="fab fa-android" style="color: #1dd1a1"></i>
          <h3>Android</h3>
          <div class="progress">
            <div class="progress-bar w-50 bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="color: black;"></div>
          </div>
        </div>

        <div class="icon text-center">
          <i class="fab fa-apple"></i>
          <h3>iOS</h3>
          <div class="progress">
            <div class="progress-bar w-25 bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="color: black;"></div>
          </div>
        </div>

      </section>

      <!-- Databases Section -->
      <section class="db">
        <!-- Title -->
        <h2><i class="fas fa-database" style="font-size: 20px; margin-right: 10px"></i> Base de données</h2>

        <div class="icon text-center">
          <img src="../../../assets/elastic-logo.png" alt="" style="width: 40px">
          <h3>ElasticSearch</h3>
          <div class="progress">
            <div class="progress-bar w-50 bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="color: black;"></div>
          </div>
        </div>

        <div class="icon text-center">
          <img src="../../../assets/mongodb-logo.png" alt="" style="width: 60px">
          <h3>MongoDB</h3>
          <div class="progress">
            <div class="progress-bar w-75 bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="color: black;"></div>
          </div>
        </div>

      </section>

      <!-- Other Section -->
      <section class="other">
        <!-- Title -->
        <h2><i class="fas fa-wrench" style="font-size: 20px; margin-right: 10px"></i> Autre</h2>

        <div class="icon text-center">
          <i class="fab fa-git" style="color: #c8d6e5"></i>
          <h3>Git</h3>
        </div>

        <div class="icon text-center">
          <i class="fab fa-gitlab" style="color: #ff9f43"></i>
          <h3>GitLab + GitLab CD/CI</h3>
        </div>

        <div class="icon text-center">
          <i class="fab fa-digital-ocean" style="color: #0abde3"></i>
          <h3>DigitalOcean</h3>
        </div>

        <div class="icon text-center">
          <img src="../../../assets/heroku-logo.png" alt="" style="width: 55px">
          <h3>Heroku</h3>
        </div>

      </section>

    </div>
  </div>
</div>
