.skills {
  width: 100%;
}

.container {
  color: white;
  width: 100%;
}

.row {
  margin-top: 50px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-height: 100vh;
  padding-left: 30px;
}

h1 {
  color: #e74c3c;
  margin-bottom: 40px;
  font-size: 30px;
}

h2 {
  font-size: 25px;
  margin-bottom: 30px;
}

i {
  font-size: 50px;
  display: inline-block;
}

section {
  margin-bottom: 50px;
}


.icon {
  display: inline-block;
  margin-right: 5%;
  margin-left: 5% ;
  margin-bottom: 10px;
  min-width: 100px;
}

h3 {
  font-size: 15px;
  font-weight: 300;
  margin-top: 10px;
}
